# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-controller.auth
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  controller.auth: {{ printf "{\"user\": \"scenectrl\", \"password\": \"%s\"}" (randAlphaNum 16) | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-browser.auth
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  browser.auth: {{ printf "{\"user\": \"webuser\", \"password\": \"%s\"}" (randAlphaNum 16) | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-calibration.auth
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  calibration.auth: {{ printf "{\"user\": \"calibration\", \"password\": \"%s\"}" (randAlphaNum 16) | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-supass
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  supass: {{ include "supass" . | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-db
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  DATABASE_PASSWORD: {{ include "db-password" . | b64enc }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets-py
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  secrets.py: |-
    {{ include "secrets-py" . | b64enc }}
